@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Montserrat:wght@100&family=Noto+Sans&family=Poppins:wght@500&family=Prompt:wght@300&family=Roboto:wght@300&display=swap');

body {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    text-transform: uppercase;

}

a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;

}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

#hero {
    background-image: url("/img/cover_krislin.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero h1{
    font-weight: 600px;
    letter-spacing: 2px;
}

.overlay{
    position: relative;
    z-index: 2;
}

.overlay::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(36, 44, 48, 0.6);
    z-index: -1;
}

.btn{
    padding: 14px 32px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 100px;
    -webkit-tap-highlight-color: transparent;
}

.btn-primary{
    background-color: #3a8878;
    border-color: #3a8878;
}

.btn-primary:hover{
    background-color: transparent;
    border-color: #3a8878;
}

.navbar{
    transition: 0.4s ease;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: #3a8878;
}

.intro .divider{
    background-color: #3a8878;
    height: 2px;
    width: 120px;
    margin: 18px auto;
}

.intro{
    margin-bottom: 50px;
}

.icon-box{
    width: 80px;
    height: 80px;
    background-color: #3a8878;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 0 auto 24px auto;
    color: #fff;
}

.icon-box i{
    font-size: 34px;
}

#milestone-cover {
    background-image: url("/img/cover_krislin.jpeg");
    background-repeat: no-repeat;
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
}

.counter .number{
    line-height: 1;

}

.smalldiv .divider{
    width: 45px;
    height: 2px;
    background-color: #3a8878;
    margin: 14px auto;
}

.customdiv .divider{
    width: 80px;
    height: 2px;
    background-color: #3a8878;
    margin: 14px auto;
}

img{
    width: 100%;
}

.project{
    position: relative;
    overflow: hidden;
}

.project-info{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a8878;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.project:hover .project-info{
    opacity: 1;
    transform: scale(1);
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.card {
   position: relative;
   display: flex;
   width: 350px;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #3a8878;
   background-clip: border-box;
   border: 1px solid #d2d2dc;
   border-radius: 11px;
   -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
   -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
   box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

.card .card-body {
    padding: 1rem 1rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}


.profile{
   margin-top: 16px;
   margin-left: 11px;
}

.profile-pic{
    width: 58px;
}

.cust-name{
    font-size: 18px;
}

.cust-profession{
    font-size: 10px;
}

.items {
   width: 90%;
   margin: 0px auto;
   margin-top: 100px
}

.slick-slide {
   margin: 10px
}

ul{
    list-style: none;
}

.contact-info{
    background-color: #3a8878;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.contact-info ::before{
    position: absolute;
    content: '';
    right: -100px;
    bottom: -100px;
    width: 290px;
    height: 290px;
    background-color: #d2d2d9;
    border-radius: 50%;
   

}

.contact-info .contact-info-icon{
    background-color: #d2d2dc;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contact-info .contact-info-icon img{
    max-width: 80%;
}

.contact-info .contact-info-content h4{
    color: #fff;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;

}

.contact-info .contact-info-content p{
    color: #fff;
    font-size: 14px;
    line-height: 20px;

}

.contact-form{
    padding-left: 25px;
}

.contact-form .input-group{
    margin-bottom: 20px;
    margin-top: 25px;
}

.contact-form .form-control{
    background-color: darkslategray;
    outline-color: #3a8878;
    border-color: #3a8878;
    font-size: 16px;
    color: #fff;
    padding: 15px 20px;
    border-radius: 15px;
}

.contact-form textarea.form-control{
    height: 120px;
    resize: none;
    margin-bottom: 30px;
}

.contact-form .form-control :focus{
    outline: 1px solid #3a8890;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 24);

}

.boxed-btn{
    background-color:darkslategray;
    border-color: #3a8890;
    color: #fff;
    border: 1px solid;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 100px;
}

.boxed-btn:hover{
    background-color: #3a8878;
    border-color: #3a8890;
    color: #fff;
    border: 1px solid;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 100px;
}

footer a{
    color: #fff;
    text-decoration-line: none;
    margin-left: 10px;
    margin-right: 10px;
}

footer a:hover{
    color: #3a8878;
}
